<style>
    h3 {color: red; text-decoration: underline;}
</style>

<div class="list-group">
    <h3>Pokemons List</h3>
    <a href="#!/pokemons/{{singlePokemon.objectId }}" class="list-group-item" ng-repeat="singlePokemon in pokemons">

        <h4>
            {{singlePokemon.name | uppercase }}
        </h4>

    </a>
</div>

<div class="list-group">
    <h3>Berries List</h3>
    <div class="list-group-item" ng-repeat="singleBerry in berries">

        <h4>
            {{singleBerry.name | uppercase }}
        </h4>

    </div>
</div>
